# Power BI temp files
*.pbix.lock
~$*.pbix

# Python cache
__pycache__/
*.pyc
*.pyo
.env
.venv/
env/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Excel temp
~$*.xlsx
~$*.xls

# Jupyter
.ipynb_checkpoints/
*.ipynb


# VS Code
.vscode/

# Node
node_modules/
